.title-button {
    font-family: Roboto Mono, monospace;
    font-size: 1.1rem!important;
    color: white!important;
}

.title-button:focus,
.title-button:active,
.title-button:hover {
    text-decoration: none!important;
}